body {
  margin: 0;
  padding: 0;
  color: #282828;
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #282828;
}

ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 25px;
  align-items: center;
  margin: 0;
}

.logo {
  font-size: 1.13rem;
  font-weight: 700;
  color: whitesmoke;
}

.icon {
  width: 25px;
}

.align-right {
  margin-left: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 30px 25px;
}

.hygge {
  position: relative;
}

section img {
  display: block;
  width: 100%;
}

.generator-hub {
  margin-bottom: 50px;
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 25px;
}

.exclusive-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 8px 5px;
  font-size: 0.8rem;
}

button {
  border: none;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 8px 10px;
  font-weight: 700;
  cursor: pointer;
}

.chatbox-bg {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #dda15e;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
